.header{
  height: 100%;
  box-shadow: $shadow-1;
}

.ad {
  width: 100%;
  height: 54px;
  background: linear-gradient(to top left, red, green, yellow);
}

//TOP------------------------

.top {
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  &__container{
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list{
    display: flex;
    gap: 15px;
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #666;
      .flex {
        display: flex;
        align-items: center;
        gap: 2px;
        svg {
          transform: scale(1.2);
          margin-right: 3px;
          fill: #ccc;
        }
        span{
          font-size: 12px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: #292929;
      }
      &:last-of-type{
        &::after{
          display: none;
        }
      }
      &:hover{
        color: #292929;
      }
    }
  }
}